<ion-view view-title="Songs">
	<ion-header-bar align-title="center" class="bar-positive">
		<div class="buttons">
			<button class="button button-icon balanced ion-ios-gear" nav-direction="forward" ui-sref="settings"> Settings</button>
		</div>
		<h1 class="title">Songs</h1>
		<div class="buttons">
			<button class="button button-icon balanced ion-ios-search" ui-sref="search"> Search</button>
		</div>
	</ion-header-bar>
	<ion-content scroll="true" has-bouncing="true">

		<ion-refresher pulling-text="Pull to refresh" on-refresh="refreshSongs()"></ion-refresher>
		<div ng-show="!titles.length" class="empty-des text-center padding">
			<div style="height: 50px"></div>
			<div class="">
				<div style="height: 30px"></div>
				<h4 class="dark">No item found</h4>
				<h5 class="dark ng-binding">Add music folder first</h5>
			</div>

		</div>

		<div style="height: 25px"></div>
		<div class="list">
			<div collection-repeat="title in titles">

				<div class="item item-song one-line" ng-click="playTitle(title)">

					<img ng-src="{{::miniaturesPath}}{{title.artwork}}" />
					<h2>{{title.name}}</h2>
					<button class="button button-icon ion-more" ng-click="showPopover($event,title)"></button>
				</div>
			</div>
		</div>
		<div style="height: 80px"></div>

	</ion-content>
</ion-view>