<ion-popover-view class="fit">
    <ion-content scroll="false">
        <ul class="list  popover-list">

            <li class="item popover-item">
                <button class="button button-clear button-light  popover-button" ng-click="addNext()">
                    Next
                </button>
            </li>
            <li class="item popover-item">
                <button class="button button-clear button-light  popover-button" ng-click="addToPlaylist()">
                    Add to playlist...
                </button>
            </li>
            <li ng-if="session" class="item popover-item">
                <button class="button button-clear button-light  popover-button" ng-click="upload()">
                    Upload
                </button>
            </li>

        </ul>
        </div>
    </ion-content>
</ion-popover-view>